* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Plus Jakarta Sans", sans-serif;
}

#main {

}

/*===================================================== Header =====================================================*/
#header {
    height: 80px;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1; /* Để header luôn đè lên ảnh ở slider */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Đổ bóng */
}

.navbar {
    width: 100%;
    height: 80px;
    padding: 0 50px; /* Căn chỉnh khoảng cách hai bên */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.navbar .navbar-brand {
    flex: 1;
    text-decoration: none;
}

.navbar .navbar-brand a h1 {
    color: crimson;
    font-size: 28px;
    text-decoration: none;
    display: inline-block;
    font-family: "Pacifico", cursive;
    letter-spacing: 1px;
}

#nav {
    list-style: none;
    display: flex;
    flex: 2; /* Chia đều khoảng cách giữa các phần tử */
    justify-content: center;
    padding: 0;
    margin: 0;
}

#nav li {
    margin: 0 20px;
}

#nav li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.category-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px; /* Điều chỉnh chiều rộng của menu */
    padding: 2px; /* Thêm padding để tạo khoảng cách với nội dung bên trong */
}

#nav li {
    position: relative; /* Đặt vị trí cho menu con */
}

#nav li:hover .category-menu {
    display: block; /* Hiển thị menu khi hover vào menu cha */
}

.category-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.category-menu ul li {
    padding: 10px;
    
}

.category-menu ul li a {
    text-decoration: none;
    color: black;
}

.category-menu ul li:hover {
    background-color: #f1f1f1; /* Hiệu ứng khi hover vào các mục menu */
}

.other {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
}

.search-container {
    position: relative;
    margin-right: 20px;
}

.search-container input {
    width: 200px;
    border: none;
    border-bottom: 1px solid rgb(164, 164, 164);
    padding: 5px;
}

.search-container i {
    position: absolute;
    right: 10px;
    top: 40%;
    transform: translateY(-50%);
}

.a-link {
    text-decoration: none;
    color: crimson;
}

a.fa-user {
    color: black;
    font-size: 20px;
    margin-left: 20px;
}


/*===================================================== Slider =====================================================*/
#slider {
    position: relative;
    margin-top: 30px;
    padding-top: 50%; /* đảm bảo ảnh luôn giữ đúng tỷ lệ */
    background: url('/assets/img/Slider/cuahang11.png') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    top: 150px;
    color:crimson;
    width: 100%; /* căn giữa */
    text-align: left;
    margin-left: 60px;
    margin-top: 20px;
}

#slider .text-heading {
    font-weight: 900px;
    font-size: 50px;
    font-family: "Archivo Black", sans-serif;
}

#slider .text-description {
    font-weight: 550;
    font-size: 25px;
    color: rgb(225, 58, 91);
    margin-top: 18px;
}

#slider button {
    width: 180px;
    height: 40px;
    margin-top: 41px;
    border: 2px solid crimson; /* đường viền của nút */
    outline: none;
    color: crimson;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.4s;
    font-size: 17px;
    cursor: pointer;
}

#slider button:hover {
    background: crimson;
    color: antiquewhite;
    border: 2px solid antiquewhite;
    cursor: pointer;
    border-radius: 4px;
}

#slider .fa-solid {
    font-size: 20px;
    margin-left: 6px;
}


/*===================================================== Content =====================================================*/
#content {

}

#content .content-section {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    font-size: 30px;
    margin-top: 54px;
    text-align: center;
    letter-spacing: 1px;
    
}

#content .about-text {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify; /* căn đều chữ sang hai bên */
    line-height: 1.6; /* căn độ dãn giữa các dòng */
}

#content .content-section1 {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.feature-layout {
    display: flex;
    justify-content: space-between; /* các ô cách đều nhau */
}

.feature-item {
    padding: 12px 16px;
    margin-top: 16px;
    font-size: 13px;
    text-align: center;
    flex-basis: 23%; /* chỉnh tỷ lệ 4 thành phần */
    box-shadow: 0 2px 6px rgba(65,11,16,.15); /* thêm bóng đổ */
    border-radius: 1rem; /* làm mịn góc */
}

.feature-note {
    margin-top: 18px;
    text-align: justify; /* căn đều chữ sang hai bên */
    line-height: 1.6; /* căn độ dãn giữa các dòng */
}

.feature-item:nth-child(1) {
    background-color: rgb(251, 243, 232);
}

.feature-item:nth-child(2) {
    background-color:  rgb(251, 243, 232);
}

.feature-item:nth-child(3) {
    background-color:  rgb(251, 243, 232);
}

.feature-item:nth-child(4) {
    background-color:  rgb(251, 243, 232);
}

#content .content-section2 {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    margin-bottom: 90px;
}

.function-layout {
    margin-top: 16px;
    display: flex;
    justify-content: space-between; /* các ô cách đều nhau */
}

.function-item1, .function-item2 {
    padding: 12px 16px;
    margin-top: 16px;
    font-size: 13px;
    text-align: center;
    flex-basis: 32%; /* chỉnh tỷ lệ 4 thành phần */
    box-shadow: 0 2px 6px rgba(65,11,16,.15); /* thêm bóng đổ */
    border-radius: 1rem; /* làm mịn góc */
}

.function-note {
    margin-top: 10px;
    text-align: center; /* căn đều chữ sang hai bên */
}

.function-item1:nth-child(1) {
    background-color: rgb(239, 118, 118);
}

.function-item1:nth-child(2) {
    background-color:  rgb(201, 175, 238);
}

.function-item1:nth-child(3) {
    background-color:  rgb(191, 226, 187);
}

.function-item2:nth-child(1) {
    background-color:  rgb(111, 201, 231);
}

.function-item2:nth-child(2) {
    background-color:  rgb(90, 198, 195);
}

.function-item2:nth-child(3) {
    background-color:rgb(254, 140, 99);
}

.solution-layout {
    display: block;
    margin-top: 25px;
    margin-bottom: 50px;
}

.solution-item {
    padding: 12px 18px;
    margin-top: 16px;
    font-size: 13px;
    box-shadow: 0 2px 6px rgba(65,11,16,.15); /* thêm bóng đổ */
    border-radius: 1rem; /* làm mịn góc */
}

.solution-note {
    margin-top: 18px;
    text-align: justify; /* căn đều chữ sang hai bên */
    line-height: 1.6; /* căn độ dãn giữa các dòng */
}

.solution-item:nth-child(1) {
    background-color: rgb(251, 243, 232);
}

.solution-item:nth-child(2) {
    background-color:  rgb(251, 243, 232);
}

.solution-item:nth-child(3) {
    background-color:  rgb(251, 243, 232);

}
  
.item-container {
    display: flex;
    align-items: center;
}
  
.description {
    margin-left: 35px;
    text-align: left;
}

.description-other {
    margin-right: 35px;
    text-align: left;
}

.description-tittle {
    margin-bottom: 18px;
}

.description-content {
    margin-bottom: 18px;
}
  
.cta-link {
    display: inline-block;
    padding: 10px 20px;
    background-color:crimson;
    color: antiquewhite;
    text-decoration: none;
    border-radius: 4px;
}

.cta-link:hover {
    background-color: antiquewhite;
    color: crimson;
    border: 2px solid crimson; /* đường viền của nút */
}

#content .content-advisa {
    background-color: crimson;
    padding-top: 2px;
    margin-bottom: 40px;
    display: flex;
    text-align: center;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
}

.advisa-item {
    padding: 20px;
    width: 50%;
    margin-left: 150px;
}

.advisa-item h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: antiquewhite;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid antiquewhite;
    border-radius: 3px;
    font-weight: 5px;
    cursor: pointer;
    
}

.cta-link1 {
    display: inline-block;
    font-weight: 4px;
    padding: 10px 20px;
    background-color:antiquewhite;
    color: crimson;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.cta-link1:hover {
    background-color: crimson;
    color: antiquewhite;
    border: 2px solid antiquewhite; /* đường viền của nút */
}


/*===================================================== Footer =====================================================*/

#footer {
    /*border-top: 2px solid lightcoral;*/
    padding-top: 22px;
    background-color: rgb(225, 223, 223);
  }

#footer .grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

#footer .grid-row {
    display: flex;
    flex-wrap: nowrap;
    margin-left: -5px;
    margin-right: -5px;
}
  
#footer .grid-column {
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
}
  
#footer .footer-heading {
    font-size: 18px;
    color: crimson;
    margin-top: 20px;
}
  
#footer .footer-list {
    padding-left: 0;
    list-style: none;
    margin-top: 16px;
}

#footer .footer-link {
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 2px 0;
    color: black;
}

#footer .footer-link:hover {
    color: crimson;
}

#footer .footer-bottom {
    padding: 8px 0;
    margin-top: 36px;
}

#footer .footer-text {
    text-align: center;
    margin: 0;
    font-size: 12px;
}
  
/*===================================================== Đăng nhập/Đăng ký =====================================================*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.774);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 33%;
    border-radius: 3px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Form Đăng nhập */
#loginForm h2,
#registerForm h2 {
    margin-bottom: 20px;
    color: crimson;
}

#loginForm input[type=text], #loginForm input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#loginForm button, 
#registerForm button {
    background-color: crimson;
    color: white;
    padding: 14px 20px;
    margin: 15px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    float: right;
    font-size: 15px; 
}

.actions {
    display: flex;
    justify-content: space-between;
}

#forgotPassword,
#loginWithSMS {
    text-decoration: none;
    color: rgb(107, 107, 107);
    cursor: pointer;
    font-size: 13px; 
    text-align: right;
    display: block;
    margin-top: 10px;
}


#loginForm button:hover {
    opacity: 0.8;
}

/* Form Đăng ký */
#registerForm input[type=text], 
#registerForm input[type=password], 
#registerForm input[type=email], 
#registerForm input[type=number], 
#registerForm input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#registerForm button:hover {
    opacity: 0.8;
}

/* Liên kết chuyển đổi giữa đăng nhập và đăng ký */
#switchToRegister, #switchToLogin {
    color: crimson;
    cursor: pointer;
    font-size: 15px; 
}


/*===================================================== PRODUCT =====================================================*/
.product-container {
    display: flex;
    margin-top: 80px;
}
  
.product-sidebar {
    width: 20%;
    background-color: #f5f5f5;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
  
.filter-section,
.group-section {
    margin-bottom: 20px;
}
  
.filter-section h3,
.group-section h3 {
    margin-top: 20;
    margin-bottom: 20px;
}
  
.group-section input[type="text"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: #888;
    margin-bottom: -30px;
}
  
.filter-section ul,
.group-section ul {
    list-style-type: none;
    padding: 0;
}
  
.filter-section li,
.group-section li {
    padding: 5px 0;
}
  
.main-content {
    width: 80%;
    padding: 20px;
}
  
.product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
  
.product-header input[type="text"] {
    padding: 5px;
    margin-right: 5px;
    border-color:#888;
}

.product-header select {
    width: 70px;
    height: 26px ;
    border-color:#888;
    margin-top: -10px;
    margin-right: 5px;
}
  
.product-header button {
    width: 85px;
    height: 26px ;
    border: none;
    margin-top: -10px;
    background-color: crimson;
    color: white;
    cursor: pointer;
}

.addProductBtn {
    width: 85px;
    height: 26px;
    border: none;
    background-color: crimson;
    color: white;
    cursor: pointer;
    margin-top: -10px;
}
  
.product-header button:hover {
    background-color: white;
    border-color: crimson;
    color: crimson;
}
  
table {
    width: 100%;
    border-collapse: collapse;
}
  
thead {
    background-color: #f0f0f0;
}
  
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
  
.highlighted {
    background-color: #f9f9f9;
}


/*===================================================== ADD PRODUCT =====================================================*/
.add-product-form {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .add-product-form h2 {
    margin-bottom: 20px;
    color: crimson;
  }
  
  .add-product-form .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .add-product-form .form-group {
    flex: 1 1 calc(50% - 10px); /* Để chia thành hai cột */
    margin-right: 30px; /* Khoảng cách giữa các form-group trong cùng một hàng */
  }
  
  .add-product-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .add-product-form input[type="text"],
  .add-product-form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .add-product-form button[type="submit"] {
    padding: 10px 20px;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  